future
numpy; python_version < '3.0'
numpy==1.18.4; python_version >= '3.0'
pygame
matplotlib
open3d
Pillow
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
scikit-learn>=1.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
